<footer>
    <br><br>
    <div class="foo">
    <a href="https://www.linkedin.com/in/pappu-sah-33a2b3170" class="badge badge-primary ">LinkedIN</a>
  <a href="https://github.com/rohanshah123" class="badge badge-secondary">git</a>
  <a href="https://bitbucket.org/rohanshah436" class="badge badge-success">bitbucket</a>
  </div>
  </footer>
  </body>
  
  </html>