<% include header.ejs %>

  <div class="jumbotron">
    <div class="row">
      <div class = "col-sm-4">
    <div id="abc2" c>
      <img src="abc2.jpg">
    </div>
  </div>
  <div class = "col-sm-8">
      <h1>About me</h1>
	<p> Hello my name is Pappu. I am an international student currently persuing my undergraduate program in computer science.I am from kathmandu, Nepal.Kathmandu is 
      the capital city of the  of Nepal, the larger of the 
      two Himalayan states.</p>
	<h3>Present</h3>
  <p>Working on graduating in 2019 summer.I love programming and like more design aspect of it. However, in future i wish to be a full stack developer.As a career, I aspire to be software Engineer or Application Developer. I am more interested in the coding and learning different Programming languages. .</p>
  <h2>Intern</h2>
	<p>Working on graduating in 2019 summer.I love programming and like more design aspect of it. However, in future i wish to be a full stack developer.As a career, I aspire to be software Engineer or Application Developer. I am more interested in the coding and learning different Programming languages. .</p>
    </div>
  </div>
  <h1 class="display-4">Pappu Sah</h1>
</div>

<div class = "video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yfoY53QXEnI" frameborder="0" 
             allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<% include footer.ejs %>